* {
  box-sizing: border-box;
}
.calculator {
  background-color: red;
  width: 700px;
  margin: auto;

  .display {
    height: 100px;
    width: 100%;
    border-width: 0;
    background-color: gray;
    color: white;

  }

  .button-panel {
    background-color: green;
  }
}